[submodule "lib/matiec"]
	path = lib/matiec
	url = https://github.com/kinsamanka/matiec.git
	branch = dist
[submodule "lib/modbus"]
	path = lib/modbus
	url = https://github.com/Jacajack/liblightmodbus.git
